.line {
  position: relative;
}
.line:after {
  content: "";
  position: absolute;
  right: 0;
  border-right: 1px solid #cfc7c0;
  top: 10%;
  bottom: 10%;
}
.span_head {
  font-size: 1.2rem;
  font-weight: 500;
}
.font-cls {
  font-size: 16px !important;
  font-weight: bold !important;
}
