.font-cls {
  font-size: 16px !important;
  font-weight: bold !important;
}
.error-message {
  font-size: 0.9rem;
  color: red;
}
.font-clss {
  font-size: 14px !important;
  font-weight: bold !important;
  height: 32px;
  border-radius: 15px 15px 1px 1px !important;
}
.mint_tab {
  margin-bottom: 0px;
  // background: #d7d7d7;
}
.cust-nav-bg {
  border-radius: 15px 15px 0px 0px;
  background: #8700f21c;
}
