.input-text-label {
  font-weight: 500;
  padding: 5px 0px;
}

.input-group-text {
  background-color: #fff;
  &.dark-layout {
    border: none !important;
  }
}
.width-93 {
  width: 93%;
}

.input-group-text-cust {
  border-width: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 17px;
}
.opacity-cust {
  opacity: 0.8;
}
.icon-placement {
  position: absolute;
  left: 9px;
}
