.mb-7 {
  margin-bottom: 7px;
}
.p-7 {
  padding: 7px;
}
.pb-7 {
  padding-bottom: 7px;
}
.pt-7 {
  padding-top: 7px;
}
.bag {
  width: 98%;
  padding: 6px;
  border-radius: 5px;
}
.font {
  font-size: 0.9rem;
  font-weight: 600;
}
._mt-3 {
  margin-top: -3px;
}

.bagTwo {
  border-radius: 5px;
  padding: 6px 0px;
}
.link-text {
  color: white;
  font-weight: 600;
}
.log-icon {
  font-size: 20px;
  margin-right: 4px;
}
