.accordion {
  .card {
    border: none;
    margin-bottom: 20px;

    h4 {
      background: url(../../assets/img/up.png) no-repeat calc(100% - 10px)
        center;
      background-size: 20px;
      cursor: pointer;
      font-size: 14px;
      color: white;
      font-weight: 600;

      &.collapsed {
        background-image: url(../../assets/img/down.png);
      }
    }

    &-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/*-------=== Add this css in your css file =====----*/
.arrow-icon {
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  background-color: #756df0;
  border-radius: 0px 6px 6px 0px;
  color: #fff;
}
.arrow-right {
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
}
.arrow-left {
  border-radius: 6px 0px 0px 6px;
  cursor: pointer;
}
.react-datepicker__day-names {
  cursor: pointer;
}
.form-control {
  cursor: pointer;
}

.headBar {
  background: #15043a;
  padding: 16px;
  background-image: linear-gradient(to right, #15043a, #8700f2);
}
.mainaHeading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-decoration: underline;
}
