.setting-table-rounded {
  height: calc(100vh - 170px);
}
.setting-table-rounded > .card {
  height: 100%;
  margin-bottom: 0;
}
.setting-table thead > tr > th {
  font-size: 9.8px;
}
.tabled-data-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  margin: 7px 0px;
}
.td-cust {
  font-size: 10px;
  padding: 2px;
}
.cross .tr-right {
  position: relative;
  z-index: 2;
  left: -3px;
  font-size: 11px;
  top: 53px;
  color: rgb(0, 0, 0, 24%);
}
.cross .tr-bottom-left {
  position: relative;
  z-index: 2;
  font-size: 11px;
  right: 1px;
  bottom: -17px;
  color: rgb(0, 0, 0, 24%);
}
.cross {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cross:before {
  background: linear-gradient(
    to top right,
    transparent calc(50% - 1px),
    #e6e6e6 50%,
    transparent calc(50% + 1px)
  );
}
/* ================== */
.setting-table {
  display: flex;
  flex-flow: column;
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

.setting-table > thead {
  flex: 0 0 auto;
}

.setting-table > thead > tr > .thead-first {
  width: 113px;
}
.setting-table > thead > tr > th {
  padding: 1px;
  font-size: x-small;
  padding: 5px 1.4px;
  font-size: x-small;
  border-right: 1px solid #e9e8e8;
}
.setting-table > tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.setting-table > tbody > tr > .tbody-first-td {
  font-size: 12px;
  padding: 5px;
  width: 113px;
  font-weight: bold;
}

.setting-table > tbody > tr > .tbody-checkbox {
  font-size: 12px;
  padding: 5px;
  border: 1px solid rgb(240 240 240);
}

.setting-table > tbody::-webkit-scrollbar {
  width: 10px;
}
.setting-table > tbody::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 10px;
}

.setting-table > tbody::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #b7b8ba;
}

.setting-table > thead > tr,
.setting-table > tbody > tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
