// Company Table Card
.card-company-table {
  thead th {
    border: 0;
  }
  td {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .avatar {
      // background-color: #191632;
      margin-right: 2rem;

      img {
        border-radius: 0;
      }
    }
  }
}
