.card-congratulations {
  background: linear-gradient(118deg, rgba(#8300e8, 1), rgba(#7400cb, 0.7));
  color: "#ffffff";

  // image on left
  .congratulations-img-left {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
  // image on right
  .congratulations-img-right {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .avatar {
    margin-bottom: 2rem;
  }
}

.card-congratulations {
  .avatar svg {
    height: 28px !important;
    width: 28px !important;
  }
}

.card-statistics {
  .card-header {
    padding-left: 2.4rem;
  }
  .statistics-body {
    padding: 2rem 2.4rem 2.8rem !important;

    .avatar .avatar-content {
      width: 48px;
      height: 48px;

      .avatar-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
