.customers__customerID {
  cursor: pointer;
  color: #7367f0;
}

appStyle {
  width: 20%;
  margin: 50px 10px;
}

.imageContainer {
  width: 200px;
  list-style: none;
}

.imageStyle {
  max-width: 100%;
}

.imageGrid {
  display: grid;
  width: 35%;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
}

.buttonStyle {
  display: none;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  padding: 20px;
}
