.fontSize {
  font-size: 23px;
}
.active-state-icon {
  color: green;
  outline: none;
  border: none;
}
.inactive-state-icon {
  color: red;
  outline: none;
  border: none;
}
.update-icon {
  color: #dada42;
}

.update-icon-box {
  font-size: 25px;
  outline: none;
  border: none;
}
.password-icon {
  font-size: 25px;
  color: gray;
  outline: none;
  border: none;
}
