$bg: #f3f8fa;
$white: #fff;
$black: #6701be;
$inputText: #7b7b7b;

.background-design {
  background-image: url(../../assets/img/logo/new.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-color: #effffa;
  position: absolute;
  background-size: cover;
  opacity: 0.08;
  top: 0px;
  left: 0px;
  margin: auto;
}
.login-form-background {
  background-color: #fff;
  box-shadow: 1px 1px 33px -6px grey;
  border-radius: 25px;
}
.color-white {
  color: white;
}
.input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: $inputText;
  background: #f4f4f4;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
// ====X====X====X====X====X====X====X====X
::placeholder {
  color: $inputText;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $inputText;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $inputText;
}
// ====X====X====X====X====X====X====X
.eye-class {
  color: #656565;
  position: absolute;
  right: 30px;
  bottom: 92px;
  font-size: 1.4rem;
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 10rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}
